<!DOCTYPE html>
<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PS9QNZR');</script>
<!-- End Google Tag Manager -->
	<title>Certficates</title>
	 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS9QNZR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<style type="text/css">
		a{
			 color:black;
		}
	</style>
	<div class="container">
		<div class="row">
			<ul style="font-size:2em;">
			<h1>Certificates:</h1>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/10th Marksheet 2011.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">10th Marksheet 2011.pdf</span>
					      <p><a href="marksheets/10th Marksheet 2011.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">10th Marksheet 2011.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/10th Pass cert. 2011.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">10th Pass cert. 2011.pdf</span>
					      <p><a href="marksheets/10th Pass cert. 2011.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">10th Pass cert. 2011.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/12th Markssheet 2013.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">12th Markssheet 2013.pdf</span>
					      <p><a href="marksheets/12th Markssheet 2013.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">12th Markssheet 2013.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/12th pass certi. 2013.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">12th Markssheet 2013.pdf</span>
					      <p><a href="marksheets/12th pass certi. 2013.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">12th Markssheet 2013.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/1st sem Marksheet Apr'14.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">1st sem Marksheet Apr'14.pdf</span>
					      <p><a href="marksheets/1st sem Marksheet Apr'14.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">1st sem Marksheet Apr'14.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/2nd sem marksheet Sept'14.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">2nd sem marksheet Sept'14.pdf</span>
					      <p><a href="marksheets/2nd sem marksheet Sept'14.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">2nd sem marksheet Sept'14.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/3rd sem marks sheet Apr'15.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">3rd sem marks sheet Apr'15.pdf</span>
					      <p><a href="marksheets/3rd sem marks sheet Apr'15.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">3rd sem marks sheet Apr'15.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
				<li class="col s5">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <embed  class="activator" name="plugin" src="marksheets/4th sem markssheet Oct'15.pdf" type="application/pdf" width="100%" height="207">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">4th sem markssheet Oct'15.pdf</span>
					      <p><a href="marksheets/4th sem markssheet Oct'15.pdf">open pdf</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">4th sem markssheet Oct'15.pdf<i class="material-icons right">close</i></span>
					    </div>
					 </div>
				</li>
			</ul>
		</div>
	</div>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
	<script type="text/javascript">
		window.sr = ScrollReveal();
		sr.reveal('.card', { duration: 2000 }, 400);
	</script>
</body>
</html>