<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>
<iframe src='https://webchat.botframework.com/embed/SixSemProjectbot?s=0IpYdjfD-Tc.cwA.ny0.15HsLnfnM_MmETcGRLLOF1RxmBPECdwT-LiYBHAhuHA' style="width: 40%;height: 500px;float: left;"></iframe>
<h2 style="float: left; margin-left: 4%">just say hi</h2>
<h2 style="float: left; margin-left: 4%">dont use period(.)</h2>
</body>
</html>