<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="Keith, Franklin, Keith Franklin Jathanna, keith franklin, Keith Franklin, web-developer">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PS9QNZR');</script>
<!-- End Google Tag Manager -->
	<!-- <meta name="viewport" content=", initial-scale=1.0"> -->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/jquery.animateSlider.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<title>Keith Franklin</title>
</head>

<body data-spy="scroll" data-target="#navbar">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS9QNZR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div id="trigger"> </div>
	<nav class="navbar navbar-default navbar-fixed-top hid" id="navbar">
				<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-purr" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="main.html" class="navbar-brand">Keith Franklin Jathanna</a>
				</div>
				<div class="collapse navbar-collapse" id="nav-purr">
					<ul class="nav navbar-nav navbar-navtabs" role="tablist">
						<li class="active"><a href="#home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
						<li class=" "><a href="#education" onclick="navigate('education')">education</a></li>
						<li class=" "><a href="#projects" onclick="navigate('projects')">Projects</a></li>
						<li class=" "><a href="#skill" onclick="navigate('skill')">Skills</a></li>
						<li class=" "><a href="#extra" onclick="navigate('extra')">language</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#social" onclick="navigate('social')">Contact Me   <i class="fa fa-user"></i></a></li>
					</ul>
				</div>
				</div>
	</nav>
	<div class="container-fliud">
		<div class="row br " style="padding-bottom: 27%;background: url('./back1.jpg') no-repeat; background-size: cover;" id="topHead">
	<div id="section03" class="d">
						<!-- <h1>Scroll Down Button #3</h1> -->
						<a href="#home" class="srr"><span></span></a>
					</div>		
			<ul class="anim-slider ma">
				<li class="anim-slide">
					<div class="col-md-7 col-xs-7 "> 
						<p><i class="fa fa-quote-left" aria-hidden="true"></i>	<span id="trigger2"></span><span class="o-text">
						<span id="obj1">I am a undergard pursuing a Bachelors degree in </span>
						<span id="obj2">Computer Science Engineering. Eager to learn </span>
						<span id="obj3">something new and apply it to daily actions.</span></span>	<i class="fa fa-quote-right" aria-hidden="true"></i></p>	
					</div>		
				<!-- </li> -->
				<!-- <li class="anim-slide"> -->
					<div class="col-md-3 col-xs-3" id="prof-img"> 
						<img src="main.jpg"  alt="http://placehold.it/350x350" class="img-circle" style="width:350px;height:350px;">
					</div>	
				<!-- </li>
				<li class=" anim-slide"> -->	
				</li>
			</ul>
			
	</div>	
		<section id="home" class="sec">
			<div class="row " style=" background-size:cover;">
				<div class="col-md-4 col-xs-6 col-md-offset-4 col-xs-offset-3">
					<div class="box-container " >
					<ul class="anim-slider ss">
						<li class="anim-slide">
							<div class="box br right1 col-md-6 col-xs-6">
									<section class="card-container " onclick="navigate('education')">
										<div id="card1" class="as">
										    <figure class="front">
										    	<i class="fa fa-graduation-cap cd" aria-hidden="true"></i>
										    	<span class="text-center card-text">Education</span>
										    </figure>
											<figure class="back" onclick="navigate('education')">
												<span class="card-text">For more Details click</span>
												<a href="#education">Here</a>
											</figure>
										</div>
									</section>
								</div>

								<div class="box left1 col-md-6 col-xs-6">
									<section class="card-container "onclick="navigate('projects')">
										<div id="card2" class="as">
										    <figure class="front">
										    	<i class="fa fa-rocket cd" aria-hidden="true"></i>
										    	<span class="text-center card-text">Projects</span>
										    </figure>
											<figure class="back" onclick="navigate('projects')">
												<span class="card-text">For more Details click</span>
												<a href="#projects">Here</a>
											</figure>
										</div>
									</section>
								</div>	
								
								<div class="box right2 col-md-6 col-xs-6" >
									<section class="card-container " onclick="navigate('skill')">
										<div id="card3" class="as">
										    <figure class="front">
										    	<i class="fa fa-black-tie cd" aria-hidden="true" style="font-size:10.4em; padding-left:.25em; padding-top:.1em;"></i>
										    	<span class="text-center card-text" style="font-size: 1.5em; ">Profesional Skills</span>
										    </figure>
											<figure class="back" onclick="navigate('skill')">
												<span class="card-text">For more Details click</span>
												<a href="#skill">Here</a>
											</figure>
										</div>
									</section>
								</div>	
								<div class="box left2 col-md-6 col-xs-6" onclick="navigate('extra')">
									<section class="card-container " >
										<div id="card4" class="as">
										    <figure class="front">
										    	<i class="fa fa-language cd" aria-hidden="true" style="padding-left: 0.4em;"></i>
										    	<span class="text-center card-text" style="font-size: 1.5em; "> languages</span>
										    </figure>
											<figure class="back" onclick="navigate('extra')">
												<span class="card-text">For more Details click</span>
												<a href="#extra">Here</a>
											</figure>
										</div>
									</section>
								</div>	
								<div class="box right3 col-md-6 col-xs-6 " >
									<section class="card-container ">
										<div id="card5" class="as">
										    <figure class="front">
										    	<i class="fa fa-certificate cd" aria-hidden="true" style="padding-left: .35em;"></i>
										    	<span class="text-center card-text">Certificates</span>
										    </figure>
											<figure class="back">
												<span class="card-text">For more Details click</span>
												<a href="cert">Here</a>
											</figure>
										</div>
									</section>
								</div>	
								<div class="box left3 col-md-6 col-xs-6" >
									<section class="card-container " onclick="navigate('social')">
										<div id="card6" class="as">
										    <figure class="front">
										    	<i class="fa fa-hashtag cd" aria-hidden="true"></i>
										    	<span class="text-center card-text" style="font-size: 1.5em; ">networking links</span>
										    </figure>
											<figure class="back" onclick="navigate('social')">
												<span class="card-text">For more Details click</span>
												<a href="#social">Here</a>
											</figure>
										</div>
									</section>
								</div>	
							</div>
						</li>
					</ul>
						
				</div>
			</div>	
		</section>

		<section id="education" class="sec">
		<div class="row">
			<h1 class="text-center" style="margin-top:50px">Educational Qualifications</h1>
				<ol>
				  <li style="left:2px">
				  	10<sup>th</sup> Grade
				    <span class="details">
				    	<h5>Board: I.C.S.E</h5>
				    	passed in 2010
				    </span>
				  </li>
				  <li style="left :-26px">
				    12<sup>th</sup> Grade
				    <span class="details">
				    <h5>Board: I.S.C</h5>
				    	passed in 2013
				    </span>
				  </li>
				  <li >
				    B.Engg.(V.T.U)
				    <span class="details">
				    <h5>1<sup>st</sup> Semister</h5>
				     passed in dec 2013
				    </span>
				  </li>
				  <li>
				  	B.Engg.(V.T.U)
				  	<span class="details">
				  		<h5>2<sup>nd</sup> Semister</h5>
				  		passed in july 2014
				  	</span>
				  </li>
				  <li>
				  	B.Engg.(V.T.U)
				  	<span class="details">
				  		<h5>3<sup>rd</sup> Semister</h5>
				  		passed in dec 2014
				  	</span>
				  </li>
				  <li>
				  	B.Engg.(V.T.U)
				  	<span class="details">
				  		<h5>4<sup>th</sup> Semister</h5>
				  		passed in july 2015
				  	</span>
				  </li>
				  <li class="five">
				  	B.Engg.(V.T.U)
				  	<span class="details">
				  		<h5>5<sup>th</sup> Semister</h5>
				  		passed in dec 2015
				  	</span>
				  </li>
				  <li class="six">
				  	B.Engg.(V.T.U)
				  	<span class="details">
				  		<h5>6<sup>th</sup> Semister</h5>
				  		passed in july 2016
				  	</span>
				  </li>
				</ol>
				<!-- <div id="chartContainer" style="height: 300px; width: 100%;"> -->
				<div class="container1" style="margin-top:30px;">
  					<h2>Percentages' secured in each year</h2>
  					<div>
    					<canvas id="marks" class="reveal1"></canvas>
  					</div>
				</div>


		</div>
		</section>
		<section id="projects" style="margin-top:70px;" class="sec">
			<div class="row">
			<!-- panel of project -->
				<h1 class="text-center">Projects Working On</h1>
				<div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title">FestMamu Website</h3>
					  	</div>
					  	<div class="panel-body">
					  		<h5>project description:</h5>
					  		<span>this is a website for a startup which provides different services to host a public event</span>
					  		<h5 style="margin-bottom:5px">project source link:</h5>
					  		<h5>progress made:</h5>
					  		<div class="progress" style="margin-bottom: 50px;margin-top: 30px;">
				 	 			<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    								<span class="sr-only">20% Complete</span>
  								</div>
							</div>
					  	</div>
					</div>	
				</div>
			<!-- panel of project -->
				<div class="col-md-3 col-xs-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title">Web-app for t-shirt design</h3>
					  	</div>
					  	<div class="panel-body">
					  		<h5>project description:</h5>
					  		<span>this is a Application for designing a tshirt/pullover. The applcations runs on html and not on flash.</span>
					  		<h5>project source link:</h5>
					  		<a href="https://github.com/Keith3895/t-design">https://github.com/</a>
					  		<h5>progress made:</h5>
					  		<div class="progress">
				 	 			<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
									<span class="sr-only">10% Complete</span>
									</div>
							</div>
					  	</div>
					</div>	
				</div>
				<!-- panel of project -->
				<div class="col-md-3 col-xs-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title">Receipt Printing Java appication</h3>
					  	</div>
					  	<div class="panel-body">
					  		<h5>project description:</h5>
					  		<span>A JAVA application which reads all the account informations from a excel file and prints the corresponding receipts.</span>
					  		<h5>project source link:</h5>
					  		<a href="https://github.com/Keith3895/t-design">https://github.com/</a>
					  		<h5>progress made:</h5>
					  		<div class="progress">
				 	 			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
									<span class="sr-only">90% Complete</span>
								</div>
							</div>
					  	</div>
					</div>	
				</div>
				<!-- panel of project -->
				<div class="col-md-3 col-xs-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title">Reading material for chatbot</h3>
					  	</div>
					  	<div class="panel-body">
					  		<h5>project description:</h5>
					  		<span>Reading material compiled to learn how to make a basic chatbot</span>
					  		<h5>project link:</h5>
					  		<a href="/pheno">chat bot readup</a>
					  		<h5>progress made:</h5>
					  		<div class="progress">
				 	 			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
									<span class="sr-only">100% Complete</span>
									</div>
							</div>
					  	</div>
					</div>	
				</div>
				<!-- panel of project -->
				<div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
					<div class="panel panel-primary">
						<div class="panel-heading">
					    	<h3 class="panel-title">Resum&eacute; website</h3>
					  	</div>
					  	<div class="panel-body">
					  		<h5>project description:</h5>
					  		<span>A website for My resum&eacute;.</span>
					  		<h5>project source link:</h5>
					  		<a href="https://github.com/Keith3895/Resume-">https://github.com/</a>
					  		<h5>progress made:</h5>
					  		<div class="progress">
				 	 			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
									<span class="sr-only">99% Complete</span>
								</div>
							</div>
					  	</div>
					</div>	
				</div>
			</div>
		</section>
		<section id="skill" style="margin-top:80px;" class="sec">
		<div class="row">
			<h1 class="text-center"> Professional skills</h1>
			
			<div class="container1 col-md-6 col-xs-6" style="margin-top:30px;float:left;">
 				<h2>Technicals skills(40 is proficient)</h2>
  				<div>
    				<canvas id="skills" class="reveal1"></canvas>
    				<div id="js-legend" class="chart-legend" style="float:left; font-size: 1.5em;">Out of 40</div>
				</div>
			</div>
			<div class="container1 col-md-6 col-xs-6" style="margin-top:30px;float:left;">
 				<h2>Still learning(20 is done)</h2>
  				<div>
    				<canvas id="skills2" class="reveal1"></canvas>
    				<div id="js-legend2" class="chart-legend" style="float:left; font-size: 1.5em;">Out of 40</div>
				</div>
			</div>
		</div>	
		</section>
		<section id="extra" class="sec">
			<div class="row" style="margin-top:2em;">
				<div class="container1 col-md-6 col-xs-6" style="margin-top:30px;  float:left;">
	 				<h1>Linguistic abilities</h1>
	  				<div>
	    				<canvas id="extraD" class="reveal1"></canvas>
	    				<div id="js-legend3" class="chart-legend" style="float:left; font-size: 1.5em;"></div>
					</div>
				</div>	
				<div class="table ">
					<table class="col-md-4 col-xs-4">
						<tr>
							<th>language</th>
							<th>Read</th>
							<th>Write</th>
							<th>speak</th>
						</tr>
						<tr style="background:rgba(102,45,145,1); color:white;">
							<td>English</td>
							<td>&#10003;</td>
							<td>&#10003;</td>
							<td>&#10003;</td>
						</tr>
						<tr style="background:rgba(63,169,245,1)">
							<td>hindi</td>
							<td>&#10003;</td>
							<td>&#10003;</td>
							<td>&#10003;</td>
						</tr>
						<tr style="background:rgba(255,181,198,1);">
							<td>Kanada</td>
							<td>&#10007;</td>
							<td>&#10007;</td>
							<td>&#10003;</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<section id="social" >
			<div class="row">
				<ul class="soc">
					Find me on :

					<li> <a href="https://www.facebook.com/keith.franklin1"><i class="fa fa-facebook-official" aria-hidden="true"></i> Keith Franklin</a></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i> keith30895@gmail.com</li>
					<li> <a href="https://github.com/Keith3895"><i class="fa fa-github" aria-hidden="true"></i> github</a></li>
					<li><a href="https://www.youtube.com/user/keith30895"> <i class="fa fa-youtube" aria-hidden="true"></i>  youtube</a></li>
					<li><a href="https://www.linkedin.com/in/keith-franklin-04b57379"><i class="fa fa-linkedin" aria-hidden="true"></i>  linked.in</a></li>
					<li> <a href="http://steamcommunity.com/id/keithfranklin/"><i class="fa fa-steam" aria-hidden="true"></i> Steam</a></li>
				</ul>
			</div>
		</section>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.js"></script>
	<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src="js/depend.js"></script>
	<script type="text/javascript" src="js/chart.js"></script>
	<script type="text/javascript" src="js/jquery.animateSlider.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">
		for(i=0;i<=6;i++){
  
  $("#card"+i).hover(function(){
    $(this).addClass("flipped");
  },function(){
    $(this).removeClass("flipped");
  });
}

	</script>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88824970-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>