<style>
    img{
        width:50%;
        float: left;
        height:80%;
    }
</style>
<iframe style='width:100%;height:500px' src='http://online.focusky.com/mrta/claa/'  seamless='seamless' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true' ></iframe>

<h5>Some slides are not rendered completely, their images are <p> the presenter notes: <a target="_blank" href="https://docs.google.com/document/d/1or3NjSjkrSqdWKy6ZtX7g-hoUdSFQJQvzBBMezEPMkY/edit?usp=sharing">link</a> </p>  </h5>
<ul>
    <li>
        <img src="/review/1.jpeg">
        <img src="/review/2.jpeg">
        <img src="/review/3.jpeg">
        <img src="/review/4.jpeg">
        <img src="/review/5.jpeg">
        <img src="/review/6.jpeg">
        <img src="/review/7.jpeg">
        <img src="/review/8.jpeg">
    </li>
</ul>